.home .hero .description
    color: #dd4b39

@media (min-width: 719px)
    .nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active
        margin-bottom: -2px
        border-bottom: 2px solid #dd4b39

.nav-links a:hover, .nav-links a.router-link-active
    color: #dd4b39